@{
    ViewData["Title"] = "Domů";
}

<div class="jumbotron jumbotron-fluid jumbotron-main text-center" style="display: block; position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <h1 class="display-2 col-12">Administrátor smluv</h1>
</div>
